@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/*section {
  background-color: gray;
  width: 100%;
  padding: 0 7%;
  margin: 0;
  max-width: none;
  height: 100vh;
}
*/

.header {
  width: 100%;
  padding: 0 7%;
  margin: 0;
  max-width: none;
  height: 100vh;
  text-align: center;

}

.about {

  padding: 0 7%;
  height: 80vh;
}

.ueber_mich_text {

  /*word-break: break-word;*/
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: center;
  font-size: 3vw;
  word-break: break-word;
  height: 100%;
}


.tul {
  padding: 0 7%;
  height: 100%;

}

.nachbarschaft {
  padding: 0 7%;
  height: 100%;
}

.donatella {
  padding: 0 7%;
  height: 100%;
}

.dso {
  padding: 0 7%;
  height: 100%;
}

.craft_beer {
  padding: 0 7%;
  height: 100%;
}

.illustrationen {
  padding: 0 7%;
  height: 100%;
}

.leftside {
  background-color: #f5f7fa;
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100vh;

}
.rightside {
  display : flex;
  justify-content : center;
  align-items : center;
  /*background-color:#FFF;*/
  height : 100vh;
}

@media (max-width: 1200px) {
  .leftside {
    height:50%;
  }
  .rightside{
    height:50%;
  }
}


/*.bilder img {
  position: relative;
  width: 100%;
  max-width: none;
  height: 100%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;
}*/


@keyframes floating {
  0%, 100% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0);
  }
}



/*img{
  width: 100%;
  max-width: 100%;
  height:auto;
}*/

.ueberschriften_l {
  font-family: 'Roboto Mono', monospace;
  z-index: 1;
  position: relative;
  display: block;
  text-align: right;
  line-height: 10px;
}

.ueberschriften_r {
  font-family: 'Roboto Mono', monospace;
  z-index: 1;
  position: relative;
  display: block;
  text-align: left;
  line-height: 10px;
}

@media (max-width: 768px) {
.ueberschriften_l, .ueberschriften_r {
  line-height: 20px;
  text-align: center;
  padding: 50px 0 50px 0;
}
.bilder {
  padding: 50px 0 50px 0;
}
}




/*h1 {
  font-size: 3em;
  color: white;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}*/
